<div class="min-h-screen flex flex-col items-center justify-center">
    <h1 class="text-4xl mb-4">Xin chào!</h1>
    <p class="mb-10">Tôi là Expressjs Framework được xây dựng bởi <a class="text-blue-600" target="_blank"
            href="https://github.com/orgs/hatbi-online/repositories">Hạt Bí</a></p>

    <div class="flex justify-center align-center gap-5">
        {{#each links}}
        <div>
            <a target="_blank" href={{this.url}} class="{{this.style}}">
                <span>{{this.text}}</span>
                <i class="fa-solid fa-arrow-up-right-from-square fa-fw"></i>
            </a>
        </div>
        {{/each}}
    </div>
</div>