<div class="text-center p-8 m-10">
    <div class="mb-10">
        <h1 class="text-4xl mb-4">Hello You Guys</h1>
        <p class="mb-10">This is a base Expressjs Framework with MVC and MongoDB</p>

        <div class="flex justify-center align-center gap-5">
            {{#each links}}
            <div>
                <a target="_blank" href={{this.url}}
                    class="{{this.style}}">
                    <span>{{this.text}}</span>
                    <i class="fa-solid fa-arrow-up-right-from-square fa-fw"></i>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</div>